body {
background-color: lightblue;
font-size: 48pt;
min-height: 100vh;
background-size: cover;
background-image: url("chalkboard.png");
font-family: initial;
}

h1 {
text-align: center;
font-size: 7vw;
margin: 12% 0 0;
font-weight: normal;
color: initial;
}

.box {
background-color: rgba(241, 241, 241, 25%);
border-radius: 2rem;
margin: 0.5rem;
color: initial;
overflow: hidden;
padding: 1rem 1rem 0 1rem;
}

.left {
line-height: 0;
}

.right {
display: flex;
justify-content: center;
align-items: center;
}

.narrow {
width: 60%;
margin: auto;
border-radius: 2rem;
padding: 0.5rem;
}

